<div id="main-wrapper">
    <div id="main">
        <div id="main-inner">
            <div class="container">
                <div class="block-content background-primary background-map block-content-small-padding fullwidth"></div>
                <div class="block-content block-content-small-padding">
                    <div class="block-content-inner">
                        <div class="row">
                            <div class="col-sm-9">

                                <div class="posts">

                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mart</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">
                                                <div class="agent-box-label agent-box-label-primary">Top e'lon</div>

                                                <a href="property-detail.html" class="post-picture-target">
                                                    <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/2.jpg" alt="" class="img-responsive">
                                                </a><!-- /.post-picture-target -->

                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="property-detail.html">E'lonning qisqacha mazmuni 47ta xarf</a></h3>
                                                <p>Muallifning e'lonini to'liq ko'rinishi 400ta xarf</p>
                                                <div class="property-row-price">145 000 y.e</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->
                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">
                                                <div class="agent-box-label agent-box-label-primary">Top e'lon</div>
                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/12.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="property-detail.html">E'lonning qisqacha mazmuni 47ta xarf</a></h3>
                                                <p>Muallifning e'lonini to'liq ko'rinishi 400ta xarf</p>
                                                <div class="property-row-price">145 000 y.e</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->
                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">
                                                <div class="agent-box-label agent-box-label-primary">Top e'lon</div>
                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/11.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">145 000 y.e</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->

                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">
                                                <div class="agent-box-label agent-box-label-primary">Top e'lon</div>
                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/11.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">$ 145 000</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->

                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">

                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/11.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">$ 145 000</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->

                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">


                                            <a href="" class="post-picture-target">
                                                <img src="assets/img/reklama1.gif" alt="" class="img-responsive">
                                            </a><!-- /.post-picture-target -->


                                        </div><!-- /.row -->
                                    </div><!-- /.post -->
                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">

                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/12.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">$ 145 000</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->
                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">

                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/11.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">$ 145 000</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->

                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">

                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="~/Content/HTML.com/assets/img/tmp/properties/medium/11.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">$ 145 000</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->

                                    <div class="post clearfix property-item property-featured">
                                        <div class="row">
                                            <div class="post-date col-sm-1">
                                                <span><i class="fa fa-calendar"></i> Mar</span>
                                                <strong>26</strong>
                                            </div><!-- /.post-date -->
                                            <div class="post-picture col-sm-3">

                                                <div class="post-picture-inner">
                                                    <a href="" class="post-picture-target">
                                                        <img src="assets/img/tmp/properties/medium/11.jpg" alt="" class="img-responsive">
                                                    </a><!-- /.post-picture-target -->
                                                </div><!-- /.post-picture-inner -->
                                            </div><!-- /.post-picture -->
                                            <div class="post-content col-sm-8">
                                                <h3 class="post-title"><a href="#">Aliquam risus neque, egestas aliquet</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat condimentum nulla, sit amet porta lacus ultrices eget. Sed eu vehicula sapien. Donec et lorem sit amet sapien lacinia imperdiet sit amet sed lorem. Vestibulum non libero felis. Donec vulputate vel leo eu consequat. Ut in sodales sapien, nec malesuada nibh. Sed ullamcorper dui non sapien venenatis, at cursus sapien molestie.</p>
                                                <div class="property-row-price">$ 145 000</div>
                                            </div><!-- /.post-content-->
                                        </div><!-- /.row -->
                                    </div><!-- /.post -->
                                </div><!-- /.posts -->
                                <div class="center">
                                    <ul class="pagination">
                                        <li><a href="#">&laquo;</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li class="active"><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sidebar">
                                    <div class="sidebar-inner">
                                        <div class="widget">
                                            <h3 class="widget-title">Oziq ovqatlar</h3>
                                            <div class="widget-content">
                                                <ul class="nav nav-pills nav-stacked">
                                                    <li><a href="vegetables.html">Sabzavotlar</a></li>
                                                    <li><a href="fruits.html">Mevalar</a></li>
                                                    <li><a href="eggs.html">Tuxum va tuxum mahsulotlari</a></li>
                                                    <li><a href="corn.html">Don va don maxsulotlari</a></li>
                                                    <li><a href="driedfruits.html">Quritilgan mevalar</a></li>
                                                    <li><a href="milk.html">Sut va sut mahsulotlari</a></li>
                                                    <li><a href="flour.html">Un va un mahsulotlari</a></li>
                                                    <li><a href="meat.html">Go'sht va go'sht mahsulotlari</a></li>
                                                    <li><a href="vegetableoil.html">O'simlik yog'i</a></li>
                                                    <li><a href="other.html">Boshqa yo'nalishlar</a></li>


                                                </ul>
                                            </div><!-- /.widget-content -->
                                            <br>
                                            <br>
                                            <img src="assets/img/reklamauz.gif">


                                        </div><!-- /.widget -->                                       <div class="widget">
                                            <h3 class="widget-title">Turli e'lonlar</h3>
                                            <div class="properties-small-list">
                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->

                                                <div class="property-small clearfix">
                                                    <div class="property-small-picture col-sm-12 col-md-4">
                                                        <div class="property-small-picture-inner">
                                                            <a href="property-detail.html" class="property-small-picture-target">
                                                                <img src="assets/img/tmp/properties/medium/4.jpg" alt="">
                                                            </a>
                                                        </div><!-- /.property-small-picture -->
                                                    </div><!-- /.property-small-picture -->
                                                    <div class="property-small-content col-sm-12 col-md-8">
                                                        <h3 class="property-small-title"><a href="property-detail.html">E'loni mazmuni 21ta</a></h3><!-- /.property-small-title -->
                                                        <div class="property-small-price">1,800 y.e <span class="property-small-price-suffix">/ manzil</span></div><!-- /.property-small-price -->
                                                    </div><!-- /.property-small-content -->
                                                </div><!-- /.property-small -->


                                            </div><!-- /.properties-small-list -->
                                        </div><!-- /.widget -->                                       <div class="widget">
                                            <!-- <img src="assets/img/reklama.gif"> -->

                                        </div><!-- /.widget -->
                                    </div><!-- /.sidebar-inner -->
                                </div><!-- /.sidebar -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.block-content-inner -->
                </div><!-- /.block-content -->
            </div><!-- /.container -->
        </div><!-- /#main-inner -->
    </div><!-- /#main -->
</div><!-- /#main-wrapper -->

