<div id="main-wrapper">
    <div id="main">
        <div id="main-inner">
            <div class="container">
                <div class="block-content block-content-small-padding">
                    <div class="block-content-inner">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">

                                <div class="box">
                                    <h2 class="center">Tizimga kirish</h2>
                                    <form method="post">

                                        <div class="form-group">
                                            <input type="submit" value="Facebook orqali kirish" class="btn btn-primary btn-inversed btn-block">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label>E-mail manzil</label>
                                            <input type="email" class="form-control" name="email">
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label>Parol</label>
                                            <input type="password" class="form-control" name="password">
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <input type="submit" value="Tizimga kirish" class="btn btn-primary btn-inversed btn-block">
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <a href="~/Home/Register"><input value="Roʻyxatdan o’tish" class="btn btn-primary btn-inversed btn-block"></a>
                                        </div><!-- /.form-group -->

                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.block-content-inner -->
                </div><!-- /.block-content -->
            </div><!-- /.container -->
        </div><!-- /#main-inner -->
    </div><!-- /#main -->
</div><!-- /#main-wrapper -->
