<div id="main-wrapper">
    <div id="main">
        <div id="main-inner">
            <div class="container">
                <!-- PRICING -->
                <div class="block-content block-content-small-padding">
                    <div class="block-content-inner">
                        <div class="center">
                            <h2>Elga-xizmat da eʼlonlarni reklama qilishning afzallig tomonlari nimada?</h2>
                        </div><!-- /.center -->
                        <p class="block-slogan center">
                            Siz quyidagi xizmatlardan foydalanishingiz mumkin: Yuqoriga koʻtarish, TOP eʼlonga joylashtirish yoki<br>
                            VIP-eʼlonlar (bosh sahifada Premium joylashtirish) Agar siz koʻproq xaridorlarni jalb qilishni va savdoni yanada oshirishni xohlasangiz<br>
                            Elga-xizmat da reklamadan foydalaning!
                        </p>
                        <div class="center">
                            <h2>E'lon berish tartibi!</h2>
                        </div><!-- /.center -->
                        <p class="block-slogan center">
                            1. Siz bermoqchi bo'lgan e'lon elga-xizmat.uz saytida mavjud bo'lgan sahifalarga tegishli bo'lishi kerak.<br>
                            2. Elga-xizmat.uz saytida mavjud bo'lmagan e'lonlar qabul qilinmaydi va o'chirib tashlanadi!
                            (pullik xizmatdan foydalana<br> olmaydi va pulingiz qaytarilmaydi)<br>
                            3. Agarda sizning mahsulotingiz elga-xizmat.uz sayti talablari bo'yicha bo'lsa-yu elga-xizmat.uz da ushbu bo'lim yo'q bo'lsa bizga yozing va biz bu bo'limni ishga tushiramiz!<br>
                            4. Elga-xizmat.uz saytiga berilgan e'lonlar to'g'riligi uchun biz javobgarlikni o'z zimmamizga olmaymiz. Eslatib o'tamiz Siz "Elga-xizmat.uz" saytidan foydalanish bu qoidalarga rioya qilishni tasdiqlash demakdir. <br>
                            Elga-xizmat da reklamadan foydalaning!</br>
                            <b>Sizga muvaffaqiyat tilaymiz! Savdoingizni barakasini bersin!</b>
                        </p>
                        <div class="row">
                            <div class="pricing-cols clearfix">
                                <div class="pricing-col-wrapper col-sm-3">
                                    <div class="pricing-col">
                                        <div class="pricing-header">
                                            <h3 class="pricing-title">Oddiy</h3>
                                            <h4 class="pricing-subtitle">5000</h4>
                                            <h5 class="pricing-subsubtitle">so'm</h5>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul class="list-unstyled">
                                                <li>E'loningiz 1 oy davomida saytda turadi.</li>


                                            </ul>
                                        </div><!-- /.pricing-content -->
                                        <div class="pricing-action center">
                                            <a href="https://checkout.paycom.uz/5ae74953ae0b85ad57381f13" class="btn btn-primary">Buyurtma berish</a>
                                        </div><!-- /.pricing-action -->
                                    </div><!-- /.pricing-col -->
                                </div><!-- /.pricing-col-wrapper -->
                                <div class="pricing-col-wrapper col-sm-3">
                                    <div class="pricing-col">
                                        <div class="pricing-header">
                                            <h3 class="pricing-title">Bronze</h3>
                                            <h4 class="pricing-subtitle">6000</h4>
                                            <h5 class="pricing-subsubtitle">so'm</h5>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul class="list-unstyled">
                                                <li>E'loningiz 3 kun davomida top e'londa turadi.</li>
                                                <li>E'loningiz 3 kun davomida telegram sahifamizda turadi.</li>
                                                <li>E'loningiz 1 oy davomida saytda turadi.</li>

                                            </ul>
                                        </div><!-- /.pricing-content -->
                                        <div class="pricing-action center">
                                            <a href="Addbron.html" class="btn btn-primary">Buyurtma berish</a>
                                        </div><!-- /.pricing-action -->
                                    </div><!-- /.pricing-col -->
                                </div><!-- /.pricing-col-wrapper -->
                                <div class="pricing-col-wrapper col-sm-3">
                                    <div class="pricing-col featured">
                                        <div class="pricing-header">
                                            <h3 class="pricing-title">Silver</h3>
                                            <h4 class="pricing-subtitle">8000</h4>
                                            <h5 class="pricing-subsubtitle">so'm</h5>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul class="list-unstyled">
                                                <li>E'loningiz 7 kun davomida top e'londa turadi.</li>
                                                <li>E'loningiz 7 kun davomida telegram sahifamizda turadi.</li>
                                                <li>E'loningiz 1 oy davomida saytda turadi.</li>

                                            </ul>
                                        </div><!-- /.pricing-content -->
                                        <div class="pricing-action center">
                                            <a href="Addsilver.html" class="btn btn-primary">Buyurtma berish</a>
                                        </div><!-- /.pricing-action -->
                                    </div><!-- /.pricing-col -->
                                </div><!-- /.pricing-col-wrapper -->
                                <div class="pricing-col-wrapper col-sm-3">
                                    <div class="pricing-col">
                                        <div class="pricing-header">
                                            <h3 class="pricing-title">Gold</h3>
                                            <h4 class="pricing-subtitle">10000</h4>
                                            <h5 class="pricing-subsubtitle">so'm</h5>
                                        </div><!-- /.pricing-header -->
                                        <div class="pricing-content">
                                            <ul class="list-unstyled">
                                                <li>E'loningiz 7 kun davomida VIP e'londa turadi.</li>
                                                <li>E'loningiz 7 kun davomida top e'londa turadi.</li>
                                                <li>E'loningiz telegram sahifamizda qoladi.</li>
                                                <li>E'loningiz saytda qoladi.</li>
                                            </ul>
                                        </div><!-- /.pricing-content -->
                                        <div class="pricing-action center">
                                            <a href="Addgold.html" class="btn btn-primary">Buyurtma berish</a>
                                        </div><!-- /.pricing-action -->
                                    </div><!-- /.pricing-col -->
                                </div><!-- /.pricing-col-wrapper -->
                            </div><!-- /.pricing-cols -->

                        </div><!-- /.row -->

                    </div><!-- /.block-content-inner -->
                </div><!-- /.block-content -->
            </div><!-- /.container -->
        </div><!-- /#main-inner -->
    </div><!-- /#main -->
</div><!-- /#main-wrapper -->