

<div id="main-wrapper">
    <div id="main">
        <div id="main-inner">
            <div class="container">
                <div class="block-content block-content-small-padding">
                    <div class="block-content-inner">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="box">
                                    <h2 class="center">Roʻyxatdan oʻtish</h2>
                                    
                                <form method="post">
                                        <div class="form-group">
                                            <label>Ism</label>
                                            <input type="text" class="form-control" name="name">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Telefon raqam</label>
                                            <input type="text" class="form-control" name="phone">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label>E-mail manzil</label>
                                            <input type="email" class="form-control" name="email" id="Username" onchange="UserCheck()">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Parol</label>
                                            <input type="password" class="form-control" name="password">
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label>Parolni tasdiqlang</label>
                                            <input type="password" class="form-control" name="confirm_password">
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <input type="submit" value="Roʻyxatdan oʻtish" class="btn btn-primary btn-inversed btn-block">
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <a href="~/Home/Login"><input value="Tizimga kirish" class="btn btn-primary btn-inversed btn-block"></a>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Facebook orqali kirish" class="btn btn-primary btn-inversed btn-block">
                                        </div><!-- /.form-group -->

                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.block-content-inner -->
                </div><!-- /.block-content -->
            </div><!-- /.container -->
        </div><!-- /#main-inner -->
    </div><!-- /#main -->
</div><!-- /#main-wrapper -->

<script>
    function UserCheck() {
        $("#Status").html("Tекширилмокда...");
        $.post("@Url.Action("CheckUserNameAvailability", "Home")",
            {
                userdata: $("#Username").val()
            },
        function(data){
            if(data==0){
                $("#Status").html('<font color="Green"></font>');
                $("#Username").css("border-color", "Green");
            }
            else{
                $("#Status").html('<font color="Red">Бундай логин мавжуд!</font>');
                $("#Username").css("border-color", "Red");
            }
        });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
}