@{ 
    Layout = null;
}
    <link href="~/Content/ElaAdmin-master/ElaAdmin-master/css/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/Content/ElaAdmin-master/ElaAdmin-master/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/ElaAdmin-master/ElaAdmin-master/css/helper.css" rel="stylesheet">
    <link href="~/Content/ElaAdmin-master/ElaAdmin-master/css/style.css" rel="stylesheet">

                    <div class="btn sweet-wrong"></div>
                    <div class="btn sweet-message"></div>
                    <div class="btn sweet-text"></div>
                    <div class="btn sweet-success"></div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sweet Confirm</h4>
                                <div class="card-content">
                                    <div class="sweetalert m-t-15">
                                        <button class="btn btn-warning btn sweet-confirm">Sweet Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="btn sweet-success-cancel"></div>
                    <div class="btn sweet-image-message"></div>
                    <div class="btn sweet-html"></div>
                    <div class="btn sweet-auto"></div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sweet Prompt</h4>
                                <div class="card-content">
                                    <div class="sweetalert m-t-15">
                                        <button class="btn btn-success btn sweet-prompt">Sweet Prompt</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="btn sweet-ajax"></div>
    <script src="~/Content/ElaAdmin-master/ElaAdmin-master/js/lib/jquery/jquery.min.js"></script>

    <script src="~/Content/ElaAdmin-master/ElaAdmin-master/js/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/ElaAdmin-master/ElaAdmin-master/js/lib/sweetalert/sweetalert.init.js"></script>
    <script src="~/Content/ElaAdmin-master/ElaAdmin-master/js/custom.min.js"></script>
