@{ 
    Elga_Xizmat.Models.ELX_DBEntities db = new Elga_Xizmat.Models.ELX_DBEntities();
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="~/Content/HTML.com/assets/libraries/font-awesome/css/font-awesome.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="~/Content/HTML.com/assets/libraries/jquery-bxslider/jquery.bxslider.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="~/Content/HTML.com/assets/libraries/flexslider/flexslider.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="~/Content/HTML.com/assets/css/realocation.css" media="screen, projection" id="css-main">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
    
    
    
    <title>
        ELX.uz e'lonlar taxtasi| Oʻzbekistonda birinchi tadbirkorlar uchun e'lonlar sayti. | Ishlab chiqarishdagi tovarlaringizni soting va soib oling.
    </title>
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="header-inner">
                    <div class="header-bar">
                        <div class="container">

                            <ul class="header-bar-nav nav nav-register">
                                <li><a href="~/Home/Login">Tizimga kirish</a></li>
                                <li><a href="~/Home/Register">Roʻyxatdan oʻtish</a></li>
                                <li>Oʻz</li>
                                <li><a href="indexru.html">Ру</a></li>
                            </ul>
                        </div><!-- /.container -->
                    </div><!-- /.header-bar -->
                    <div class="header-top">
                        <div class="container">
                            <div class="header-identity">
                                <a href="~/Home/index" class="header-identity-target">
                                    <span class="header-icon"><i class="fa fa-home"></i></span>
                                    <span class="header-title">Elga-xizmat.uz</span><!-- /.header-title -->
                                    <span class="header-slogan">Elga xizmat<br>Oliy ximmat</span><!-- /.header-slogan -->
                                </a><!-- /.header-identity-target-->
                            </div><!-- /.header-identity -->
                            <div class="header-actions pull-right">
                                <a href="https://t.me/elgaxizmatuz" class="btn btn-regular">Telegram sahifamizga a'zo bo'lin</a> <strong class="separator"></strong> <a href="~/Home/Add" class="btn btn-primary"><i class="fa fa-plus"></i>E'lon berish</a>
                            </div><!-- /.header-actions -->
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".header-navigation">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div><!-- /.container -->
                    </div><!-- .header-top -->
                    <div class="header-navigation">
                        <div class="container1">
                            <div class="row">
                                <ul class="header-nav nav nav-pills">

                                    @foreach (var item in db.Rubric) {
                                    <li class="me=" me="menuparent">
                                        <a href="~/Home/Pruducts/@item.Id">@item.Name_Uz</a>
                                    </li>
                                    }
                                </ul><!-- /.header-nav -->
                                <div class="form-search-wrapper col-sm-3">
                                    <form method="post" action="?" class="form-horizontal form-search">
                                        <div class="form-group has-feedback no-margin">
                                            <input type="text" class="form-control" placeholder="Masalan:  shakar">
                                            <span class="form-control-feedback">
                                                <i class="fa fa-search"></i>
                                            </span><!-- /.form-control-feedback -->
                                        </div><!-- /.form-group -->
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.container -->
                    </div><!-- /.header-navigation -->
                </div><!-- /.header-inner -->
            </div><!-- /#header -->
        </div><!-- /#header-wrapper -->
        @RenderBody()
        <hr />
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                <!-- /.footer-top -->
                <div class="footer-bottom">
                    <div class="container">

                        <div class="center no-margin">
                            Oʻzbekistonda 1-raqamli tadbirkorlar uchun eʼlonlar servisi.</br>

                            Bu yerda siz izlaganingizni topasiz.
                            <a href="login.html">Eʼlon berish</a> tugmasiga bosib, siz istalgan oziq ovqat mavzusiga oid onlayn-eʼlonni joylashtira olasiz – Oziq ovqatlar, sabzavotlar, mevalar, tuxum mahsulotlari, don mahsulotlari va boshqalar savdosi.
                            EL-X servisi sizga deyarli barcha istagan narsangizni sotish yoki sotib olish imkonini beradi. Qidiruv funksiyasidan foydalanib, mavzuga oid mavjud eʼlonlarni hech bir qiyinchiliksiz topa olasiz.</br>
                            Elga-xizmat.uz – Savdoingizni barakasini bersin.
                        </div>

                    </div><!-- /.container -->
                </div><!-- /.footer-bottom -->
            </div><!-- /#footer-inner -->
        </div><!-- /#footer -->
    </div><!-- /#footer-wrapper -->
    </div><!-- /#wrapper -->
    <script type="text/javascript" src="~/Content/HTML.com/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/libraries/isotope/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/js/gmap3.infobox.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/js/gmap3.clusterer.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/js/map.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/libraries/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/libraries/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/libraries/jquery-bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/libraries/flexslider/jquery.flexslider.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/js/jquery.chained.min.js"></script>
    <script type="text/javascript" src="~/Content/HTML.com/assets/js/realocation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>